# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Fichiers cachés ou sensibles
.env
*.log

# fichiers de configuration
config_model.py

#key kaggle
.kaggle/
kaggle.json